Consejos cuando se trabaja en Big Data:

No trabajar con todos los datos. Crear un sample y asegurarnos que el código funciona primero.

Luego aplicar a todos los datos.

In [1]:
ls -l

total 1014848
-rw-rw-rw- 1 angelrps angelrps    523313 Jan  8 16:31  01_intro_to_DS_toolkit_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps     50785 Jan  8 12:52  02-loading_and_saving_data_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps    142691 Jan  9 10:07  04-group_by_MINE.ipynb
-rw-rw-rw- 1 angelrps angelrps     23399 Jan  9 11:23  05-visualization_introduction_empty.ipynb
-rwxrwxrwx 1 angelrps angelrps    173167 Jan  8 10:13  10-11_Python_AmadChall_v19.pptx*
-rw-rw-rw- 1 angelrps angelrps      1120 Jan 11 09:17  Amadeus_Challenge_Class.ipynb
-rw-rw-rw- 1 angelrps angelrps     94665 Jan 10 14:42  Amadeus_Challenge_Test.ipynb
-rw-rw-rw- 1 angelrps angelrps 554970628 Jan  9 09:44  bookings.csv.bz2
---------- 1 angelrps angelrps      4634 Jan  8 14:40 'bookings11.csv - copia'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40 'bookings11.csv - copia.bz2'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40  bookings11.csv.bz2
-rw-rw-rw- 1 angelrps angelrps 483188920 Jan  9 09:44  searches.csv.bz2
-rw-rw-rw- 1 angelrps angelrps       364 Jan  8 13:06  testcsvfile.csv.bz2
-rwxrwxrwx 1 angelrps angelrps       165 Jan  8 10:19 '~$10-11_Python_AmadChall_v19.pptx'*

In [3]:
!bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [4]:
!bzip2 -f bookings.sample.csv

In [5]:
ls -l

total 1015428
-rw-rw-rw- 1 angelrps angelrps    523313 Jan  8 16:31  01_intro_to_DS_toolkit_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps     50785 Jan  8 12:52  02-loading_and_saving_data_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps    142691 Jan  9 10:07  04-group_by_MINE.ipynb
-rw-rw-rw- 1 angelrps angelrps     23399 Jan  9 11:23  05-visualization_introduction_empty.ipynb
-rwxrwxrwx 1 angelrps angelrps    173167 Jan  8 10:13  10-11_Python_AmadChall_v19.pptx*
-rw-rw-rw- 1 angelrps angelrps      3516 Jan 11 09:23  Amadeus_Challenge_Class.ipynb
-rw-rw-rw- 1 angelrps angelrps     10612 Jan 11 09:23  Amadeus_Challenge_Test.ipynb
-rw-rw-rw- 1 angelrps angelrps 554970628 Jan  9 09:44  bookings.csv.bz2
-rw-rw-rw- 1 angelrps angelrps    535893 Jan 11 09:21  bookings.sample.csv.bz2
---------- 1 angelrps angelrps      4634 Jan  8 14:40 'bookings11.csv - copia'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40 'bookings11.csv - copia.bz2'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40  bookings11.csv.bz2
-rw-rw-rw- 1 angelrps angelrps 483188920 Jan  9 09:44  searches.csv.bz2
-rw-rw-rw- 1 angelrps angelrps       364 Jan  8 13:06  testcsvfile.csv.bz2
-rwxrwxrwx 1 angelrps angelrps       165 Jan  8 10:19 '~$10-11_Python_AmadChall_v19.pptx'*

### Ejercicio 1
#### Count the number of lines in Python for each file

#### 1) Con comand line

In [12]:
! bzcat bookings.sample.csv.bz2 | wc -l

10000

#### 2) Con Python, without uncompressing

In [13]:
import bz2

In [14]:
fileBz2 = bz2.BZ2File('./bookings.sample.csv.bz2')
k=0
for line in fileBz2:
    k+=1
print(k)

10000

In [16]:
#es buena práctica cerrar un fichero después de abrirlo.
fileBz2.closed

False

In [19]:
fileBz2.close()
fileBz2.closed

True

In [20]:
#otra solución de lo mismo, pero un poco mejor porque
#con esta sintaxis NO HACE FALTA CERRAR EL FICHERO DESPUES DE ABRIRLO
#si ocurre un error en el cálculo nos aseguramos de que el fichero se cierra
with bz2.BZ2File('./bookings.sample.csv.bz2') as fileBz2:
    k=0
    for line in fileBz2:
        k+=1
print(k)

10000

In [23]:
#otra solución
with bz2.BZ2File('./bookings.sample.csv.bz2') as fileBz2:
    for k, line in enumerate(fileBz2):
        pass
print(k+1)
#meto un k más porque ha empezado contando desde cero

10000

In [30]:
#otra solución, la más, handling errors.
#qué pasa si quiero correr el loop en varios ficheros y uno está corrupto.
#quiero saber cuál es el archivo corrupto y seguir ejecutando el loop

try:
    with bz2.BZ2File('./bookings.sampe.csv.bz2') as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
    print(k+1)
except FileNotFoundError as  mess1: #este es el nombre exacto del error que da python, que ya lo sabemos
    print(mess1)
except ValueError:
    print("Value error")
#puedo añadir tantos errores como conozca y al final poner el "unexpected error"
except:
    print("unexpected error")

[Errno 2] No such file or directory: './bookings.sampe.csv.bz2'

### Ejercicio 2
#### Top 10 arrival airports in the world in 2013 (using the bookings file)

- Arrival airport is the column arr_port. It is the IATA code for the airport.
- To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
- Print the top 10 arrival airports in the standard output, including the number of passengers.

- Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)
- Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data.
Select the columns of interest
What to do with NaN

Make action plan
Develop the code that works with a sample
Develop/test code that works with chunks of the sample and see that the result is the same

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

### 1) Get familiar with data

#### What if we dont wat to read the whole file

Options:
    1) prepare the sample
    2) read_csv with nrows option

In [36]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
#DONT DO THIS
b = pd.read_csv('bookings.csv.bz2', sep='^')

In [37]:
#TAKE JUST 10000 LINES
b = pd.read_csv('bookings.csv.bz2', sep='^', nrows=9999)

In [38]:
#OR USE A SAMPLE
b = pd.read_csv('bookings.sample.csv.bz2', sep='^')

In [40]:
b.shape

(9999, 38)

In [42]:
list(b.columns)
#Hay espacios en los nombres de las columnas!!!
#lo podemos arreglar nosotros pero no en el archivo original

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [45]:
#esto mejor ponerlo al principio donde importamos librerías y olvidarnos
pd.set_option('display.max_columns', None)

In [46]:
b.sample(5)
#source es un Global Distribution System (GDS), como Amadeus
#pos_ is point of sale, es decir el codigo de una agencia
#pos_oid oficce ID de cada ordenador de la agencia
#pos_iata código iata de la agencia
#rloc record locater: es decir, el numero de reserva
#cre_date: creation date de justo el momento de la reserva
#act_date: activity date. Si me meto a la reserva y hago un cambio. Sirve para hacer un historial de la reserva.
#duration: cuanto tiempo ha estado la persona en el destino, para distinguir leasure o business trip
#distance: si es 0 es vuelo de ida y vuelta.
#dep_: departure
#arr_: arrival
#_port: airport
#brd_: boarding, donde me subo
#off_: donde me bajo
#lst_: last, última parada
#_city: city
#_ctry: country
#mrk_: marketing. Para ver cuanto se usa una ruta
#route: me dice todas las conexiones de la ruta
#carrier: quien opera el vuelo
#cab_class: donde estamos sentados.
#bkg_class: booking class, los servicios que hemos pagado.

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
4727,2013-03-11 00:00:00,1V,US,f7980dc03cb76399362f7718b571da31,50e6ae2578deec428c59c84dca52d7f0,586ce3cb5a8685dbcb1f9d1fc125576f,2013-03-11 00:00:00,2331,0,SFO,SFO,US,ORD,CHI,US,SFO,SFO,US,ORD,CHI,US,SFO,SFO,US,ORDSFO,CHISFO,USUS,0,ORDSFO,FK,Y,Y,2013-04-07 07:59:00,2013-04-07 10:16:05,1,2013,3,NULL
2201,2013-03-25 00:00:00,1A,SE,0c1f1eb8dff420761febc2d2268fb3e7,9789d17ec2629741f00ca74dda3a42d6,3b8fed07c31f8e9d9aafcb20e561fee3,2012-05-14 00:00:00,339308,0,ARN,STO,SE,KUL,KUL,MY,ARN,STO,SE,KUL,KUL,MY,ARN,STO,SE,ARNKUL,KULSTO,MYSE,1,KULDOHARN,BC,H,Y,2013-03-25 21:10:00,2013-03-26 05:58:41,-1,2013,3,STOEB38BB
6277,2013-03-11 00:00:00,1V,US,a2fcf3a535abb3db3b5e60c199820752,c40087249726e5977d80bb485bc4bfa7,4008a888d392da6a376191a6f8bedc2f,2013-03-11 00:00:00,4091,1716,LAS,LAS,US,CTG,CTG,CO,SAT,SAT,US,CTG,CTG,CO,SAT,SAT,US,CTGSAT,CTGSAT,COUS,1,CTGMIADFWSAT,KK,V,Y,2013-03-20 09:30:00,2013-03-20 21:11:04,1,2013,3,NULL
2600,2013-03-09 00:00:00,1V,CA,4e11fc9d3cdeabbb3787f8263c5ed6e8,7ec322fdc4e538bae173a360ad1bf1f5,3b30ed3341da77c6dfebfd3b89340b5c,2013-01-31 00:00:00,34027,0,YEG,YEA,CA,NBO,NBO,KE,YEG,YEA,CA,YEG,YEA,CA,NBO,NBO,KE,NBOYEG,NBOYEA,CAKE,1,YEGEWRZRHNBO,FK,Q,Y,2013-08-10 07:30:00,2013-08-11 18:22:10,-2,2013,3,NULL
3618,2013-03-15 00:00:00,1V,US,10adaede6bfd1e36288ac6eb091b5800,129f3c5cabd2b31926295578fe256c17,fe9f4cd72d57daab9b11d50d46e2b90e,2013-03-04 00:00:00,1554,0,LGA,NYC,US,ATL,ATL,US,LGA,NYC,US,ATL,ATL,US,LGA,NYC,US,ATLLGA,ATLNYC,USUS,0,ATLLGA,NV,O,Y,2013-03-21 15:40:00,2013-03-21 17:54:21,1,2013,3,NULL

In [47]:
b.info()
#vemos el typo de datos, que no hay nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [48]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [49]:
b.groupby('rloc          ')['act_date           '].count().sort_values(ascending=False).head()
#esto me muestra las reservas que más cambios tienen

rloc
ae15bcfc5aec0eb64b2c5204d08201d5    42
fb72a3899ed1cd353c5830388935e7f5    23
cd96f7b7fdb5743769053ba273c7eb5f    20
6b7878dd4ac59772e14ab4760ab45ad0    20
68aee71ee0f40aff44ed341f2c5f8627    16
Name: act_date           , dtype: int64

In [50]:
b[b['rloc          ']=='ae15bcfc5aec0eb64b2c5204d08201d5'].sort_values('act_date           ', ascending=False)
#filtro la reserva que más cambios tenía, y veo su historial de cambios

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
8010,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
8009,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8008,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
8007,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
8006,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,16396,12823,JFK,NYC,US,JNB,JNB,ZA,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
8005,2013-03-23 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
8003,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
8002,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
8001,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8004,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
8000,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7999,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7998,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7997,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7996,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7995,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7994,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7993,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7991,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7992,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7990,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7989,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7988,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7763,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7762,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7761,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7757,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7760,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7759,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7758,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7754,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7753,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7756,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7755,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7752,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7751,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7750,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7749,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7747,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7746,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7748,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7745,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL

### 2) Select columns of interest

In [ ]:
# arr_port, pax, year

### 2) What to do with NaN

In [ ]:
#DROP. En este ejemplo no hay NaNs pero debemos prepararnos por si hubiera

### Ready to code

In [52]:
#al profe le gusta poner en una celda todo lo que se necesita ejecutar
#para continuar el ejercicio para no ir buscando arriba celda por celda.
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999)
b =b.dropna()

In [53]:
len(b)

9999

### Make and action plan

Plan:
    1) filter 2013
    2) group by arr_port
    3) sum sobre pax
    4) ordenar sobre sum de pax

In [79]:
b  = b[b['year']==2013]
#filtro datos del 2013 y sobreescribo el data frame

In [82]:
len(b)

9999

In [84]:
del b['year']

In [86]:
b.groupby(['arr_port']).sum().sort_values(by='pax', ascending=False).head()

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91

### 5) Adjust the code to work with Big data

In [ ]:
#ahora que nuestro código funciona para 1000 lineas vamos a correrlo en chunks de la base de datos

1) iterar sobre el fichero y cada vez coger un bloque de datos

In [87]:
#esto me devuelve un iterator en vez de un data frame
bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, iterator=True)

In [88]:
type(bi)

pandas.io.parsers.TextFileReader

In [90]:
#get_chunk me devuelve un data frame de tantas lineas.
#ojo! cada que que se ejecuta el cursor se desplaza por el archivo, 
#si sigo pidiendo rows se me pueden acabar hasta al final me dará error
#es decir el objeto iterator parará cuando llegue al final de elementos.
#no necesitamos saber el número de loops que pedir
b0=bi.get_chunk(1000)

In [91]:
b0.shape

(1000, 3)

#### 2) define chunk size

In [92]:
#poniendo chunksize tambien me crea un iterator
bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, chunksize=3000)
type(bi)

pandas.io.parsers.TextFileReader

In [93]:
for i, b in enumerate(bi):
    print(len(b))

3000
3000
3000
999

In [94]:
import pandas as pd
pd.set_option('display.max_columns', None)

bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, chunksize=3000)

#data frame para guardar resultados de cada trocito
all_chunks=pd.DataFrame()

for i, b in enumerate(bi):
    print(i, len(b))    
    b=b.dropna()
    b=b[b['year']==2013]
    del b['year']
    result=b.groupby(['arr_port']).sum()
    
    all_chunks=all_chunks.append(result)
    
#no nos hace falta esto de antes .sort_values(by='pax', ascending=False).head()

0 3000
1 3000
2 3000
3 999

In [96]:
all_chunks
#tengo los aeropuetos como indices, tengo que resetar los indices

          pax
arr_port
ABQ         2
ACC         0
ADD         4
AEP         3
AER         1
...       ...
YUL         3
YVR         2
YYC        -1
YYJ         2
YYZ         4

[1344 rows x 1 columns]

In [97]:
all_chunks.reset_index()

      arr_port  pax
0     ABQ         2
1     ACC         0
2     ADD         4
3     AEP         3
4     AER         1
...        ...  ...
1339  YUL         3
1340  YVR         2
1341  YYC        -1
1342  YYJ         2
1343  YYZ         4

[1344 rows x 2 columns]

In [100]:
#RECAPITULACION
import pandas as pd
pd.set_option('display.max_columns', None)

bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], nrows=9999, chunksize=3000)

#data frame para guardar resultados de cada trocito
all_chunks=pd.DataFrame()

for i, b in enumerate(bi):
    print(i, len(b))    
    b=b.dropna()
    b=b[b['year']==2013]
    del b['year']
    result=b.groupby(['arr_port']).sum()
    
    all_chunks=all_chunks.append(result)
    
result_all = all_chunks.reset_index().groupby(['arr_port']).sum().sort_values(by='pax', ascending=False).reset_index()
result_all.head(10)

0 3000
1 3000
2 3000
3 999

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

### Pre bonus solution

Añado el %%time, quito nrows y aumento el chunk size
Nuestro ordenador no podría procesar el fichero de una vez.
Por eso lo dividimos en chunks y calculamos esos trocitos y luego los
ESTO ES EL RESULTADO DEL EJERCICIO 2

In [103]:
%%time
import pandas as pd
pd.set_option('display.max_columns', None)

bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=1000000)

#data frame para guardar resultados de cada trocito
all_chunks=pd.DataFrame()

for i, b in enumerate(bi):
    print(i, len(b))    
    b=b.dropna()
    b=b[b['year']==2013]
    del b['year']
    result=b.groupby(['arr_port']).sum()
    
    all_chunks=all_chunks.append(result)
    
result_all = all_chunks.reset_index().groupby(['arr_port']).sum().sort_values(by='pax', ascending=False).reset_index()
result_all.head(10)

0 1000000
1 1000000
2 1000000
3 1000000
4 1000000
5 1000000
6 1000000
7 1000000
8 1000000
9 1000000
10 10
CPU times: user 1min 59s, sys: 1.83 s, total: 2min 1s
Wall time: 1min 52s

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

#### vamos a por el bonus

In [108]:
result_all.shape

(2274, 2)

we have to install neobases

In [109]:
%pip install neobase

Collecting neobase
  Downloading https://files.pythonhosted.org/packages/d8/f2/0ca4a5818f8271f7c6d59bb336c28db931e22b51330947983be86ba4ea12/NeoBase-0.20.2.tar.gz (3.2MB)
     |████████████████████████████████| 3.2MB 1.4MB/s eta 0:00:01
Collecting argparse (from neobase)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Building wheels for collected packages: neobase
  Building wheel for neobase (setup.py) ... done
  Created wheel for neobase: filename=NeoBase-0.20.2-cp37-none-any.whl size=3222020 sha256=8babfdcc221ce86f3b54ead7e056312d8899ba99116f36f34ac6b4fbcf481597
  Stored in directory: /home/angelrps/.cache/pip/wheels/f2/e0/a1/798ba3be3b5e9d00394376068d895114f574c06f6954dafc59
Successfully built neobase
Installing collected packages: argparse, neobase
Successfully installed argparse-1.4.0 neobase-0.20.2
Note: you may need to restart the kernel to use updated packages.

In [110]:
import neobase as nb
#importo todo neobase

In [ ]:
#usamos dir o help para explorar la librería. (otra manera es leernos el manual)

In [111]:
dir(nb)

['LatLng',
 'NeoBase',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'neobase']

In [112]:
help(nb)

Help on package neobase:

NAME
    neobase - # -*- coding: utf-8 -*-

PACKAGE CONTENTS
    __main__
    neobase

FILE
    /home/angelrps/anaconda3/lib/python3.7/site-packages/neobase/__init__.py

In [113]:
from neobase import NeoBase
#importo una librería que hay dentro de neobase

In [114]:
help(NeoBase)

Help on class NeoBase in module neobase.neobase:

class NeoBase(builtins.object)
 |  NeoBase(rows=None, date=None)
 |
 |  Main structure, a wrapper around a dict, with dict-like behavior.
 |
 |  Methods defined here:
 |
 |  __contains__(self, key)
 |      Test if a key is in the base.
 |
 |      :param key: the key of to be tested
 |      :returns:   a boolean
 |
 |      >>> b = NeoBase()
 |      >>> 'AN' in b
 |      False
 |      >>> 'AGN' in b
 |      True
 |
 |  __init__(self, rows=None, date=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b)
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  __len__(self)
 |      Testing structure size.
 |
 |      :returns: a integer
 |
 |      >>> b = NeoBase()
 |      >>> 18000 < len(b) < 20000
 |      True
 |
 |  __nonzero__(self)
 |      Testing structure emptiness.
 |
 |      :returns: a boolean
 |
 |      >>> b = NeoBase()
 |      >>> if b:
 |      ...     print('not empty')
 |      not empty
 |
 |  distance(self, key_0, key_1)
 |      Compute distance between two elements.
 |
 |      This is just a wrapper between the original haversine
 |      function, but it is probably the most used feature :)
 |
 |      :param key_0: the first key
 |      :param key_1: the second key
 |      :returns:    the distance (km)
 |
 |      >>> b = NeoBase()
 |      >>> b.distance('ORY', 'CDG')
 |      34.87...
 |
 |  find_closest_from_location(self, lat_lng, N=1, from_keys=None)
 |      Concept close to find_near_location, but here we do not
 |      look for the keys radius-close to a location,
 |      we look for the closest key from this location, given by
 |      latitude/longitude.
 |
 |      Note that a similar implementation is done in
 |      the LocalHelper, to find efficiently N closest location
 |      in a graph, from a location (using heaps).
 |
 |      :param lat_lng:   the lat_lng of the location
 |      :param N:         the N closest results wanted
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform find_closest_from_location. This is useful to combine             searches
 |      :returns:   one key (like 'SFO'), or a list if approximate is not None
 |
 |      >>> b = NeoBase()
 |      >>> list(b.find_closest_from_location((43.70, 7.26))) # Nice
 |      [(0.60..., 'NCE@1')]
 |      >>> list(b.find_closest_from_location((43.70, 7.26), N=3)) # Nice
 |      [(0.60..., 'NCE@1'), (5.82..., 'NCE'), (5.89..., 'XBM')]
 |
 |  find_near(self, key, radius=50, from_keys=None)
 |      Same as find_near_location, except the location is given
 |      not by a lat/lng, but with its key, like ORY or SFO.
 |      We just look up in the base to retrieve lat/lng, and
 |      call find_near_location.
 |
 |      :param key:     the key of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       a list of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.find_near('ORY', 10)) # Orly, por <= 10km
 |      [(0.0, 'ORY'), (6.94..., 'XJY'), (9.96..., 'QFC')]
 |
 |  find_near_location(self, lat_lng, radius=50, from_keys=None)
 |      Returns a list of nearby keys from a location (given
 |      latidude and longitude), and a radius for the search.
 |      Note that the haversine function, which compute distance
 |      at the surface of a sphere, here returns kilometers,
 |      so the radius should be in kms.
 |
 |      :param lat_lng: the lat_lng of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       an iterable of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> # Paris, airports <= 50km
 |      >>> [b.get(k, 'iata_code') for d, k in sorted(b.find_near_location((48.84, 2.367), 5))]
 |      ['PAR', 'XGB', 'XHP', 'XPG', 'XEX']
 |
 |  find_with(self, conditions, from_keys=None, reverse=False)
 |      Get iterator of all keys with particular field.
 |
 |      For example, if you want to know all airports in Paris.
 |
 |      :param conditions: a list of (field, value) conditions
 |      :param reverse:    we look keys where the field is *not* the particular value
 |      :returns:          an iterator of matching keys
 |
 |      Testing several conditions.
 |
 |      >>> b = NeoBase()
 |      >>> c0 = [('city_code_list', ['PAR'])]
 |      >>> c1 = [('location_type', ['H'])]
 |      >>> len(list(b.find_with(c0)))
 |      16
 |      >>> len(list(b.find_with(c0 + c1)))
 |      2
 |
 |  get(self, key, field=None, default=<object object at 0x7f7b9ddd5c00>)
 |      Get data from structure.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('OR', 'city_code_list', default=None)
 |      >>> b.get('ORY', 'city_code_list')
 |      ['PAR']
 |
 |  get_location(self, key, default=<object object at 0x7f7b9ddd5c00>)
 |      Get None or the geocode.
 |
 |      >>> b = NeoBase()
 |      >>> b.get_location('ORY')
 |      LatLng(lat=48.72..., lng=2.35...)
 |
 |  keys(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.keys())
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  set(self, key, **data)
 |      Set information.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('ORY', 'name')
 |      'Paris Orly Airport'
 |      >>> b.set('ORY', name='test')
 |      >>> b.get('ORY', 'name')
 |      'test'
 |      >>> b.set('Wow!', name='test')
 |      >>> b.get('Wow!', 'name')
 |      'test'
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  load(f, date) from builtins.type
 |      Building a dictionary of geographical data from optd_por.
 |
 |      >>> path = op.join(op.dirname(__file__), 'optd_por_public.csv')
 |      >>> with open_(path) as f:
 |      ...     b = NeoBase.load(f, '2030-01-01')
 |      >>> b['ORY']['city_code_list']
 |      ['PAR']
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  distance_between_locations(l0, l1)
 |      Great circle distance
 |
 |      :param l0: the LatLng tuple of the first location
 |      :param l1: the LatLng tuple of the second location
 |      :returns:  the distance in kilometers
 |
 |      >>> NeoBase.distance_between_locations((48.84, 2.367), (43.70, 7.26)) # Paris -> Nice
 |      683.85...
 |
 |      Case of unknown location.
 |
 |      >>> NeoBase.distance_between_locations(None, (43.70, 7.26)) # returns None
 |
 |  skip(row, date)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DUPLICATES = True
 |
 |  FIELDS = (('iata_code', 0, None), ('name', 6, None), ('lat', 8, None),...
 |
 |  KEY = 0

In [115]:
#inicializao NeoBase
geoDict=NeoBase()

In [117]:
type(geoDict)

neobase.neobase.NeoBase

In [118]:
geoDict.get('LHR')

{'__dup__': set(),
 'iata_code': 'LHR',
 'name': 'London Heathrow Airport',
 'lat': '51.4775',
 'lng': '-0.461389',
 'page_rank': 0.44517643489228376,
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'continent_name': 'Europe',
 'timezone': 'Europe/London',
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'location_type': ['A'],
 'currency': 'GBP'}

In [119]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [120]:
result_all.head(3)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0

In [121]:
result_all.arr_port[0]
#hay espacios que tenemos que quitar o no funcionará nuestro código!!

'LHR     '

In [122]:
result_all.arr_port[0].strip()
#strip quita espacios a la izquierda y derecha
#para quitar espacios intermedios podemos hacer otra cosa:
3 ' '.join('     lklklk    lkjsdfl      '.split())

'LHR'

In [123]:
#quito los espacios en blanco de la columna entera y la vuelvo a guardar
result_all['arr_port']=result_all['arr_port'].str.strip()

In [124]:
result_all.arr_port[0]

'LHR'

### How do we put the name of each airport into de DF?

In [125]:
#testeo con solo un elemento
geoDict.get(result_all.arr_port[0])['name']

'London Heathrow Airport'

In [129]:
result_all['AirportName']=result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])
#da un error porque hay un código CPQ que no existe en el geoDict

/home/angelrps/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [130]:
result_all=result_all[result_all['arr_port'] != 'CPQ']
#eliminamos la fila que nos da el error

In [134]:
result_all['AirportName']=result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])
print(len(result_all))

2273

In [135]:
result_all.head()

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport

In [136]:
#no me gusta que pax sean floats, lo cambio a int
result_all=result_all.astype({'pax':int})
result_all.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [137]:
#NOS GUARDAMOS EL RESULTADO PARA USARLO EN EL EJERCICIO 5
result_all.to_csv('top_airports.csv', sep='^', index=False)

In [138]:
!ls -l

total 1015688
-rw-rw-rw- 1 angelrps angelrps    523313 Jan  8 16:31  01_intro_to_DS_toolkit_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps     50785 Jan  8 12:52  02-loading_and_saving_data_inclass.ipynb
-rw-rw-rw- 1 angelrps angelrps    142691 Jan  9 10:07  04-group_by_MINE.ipynb
-rw-rw-rw- 1 angelrps angelrps     23399 Jan  9 11:23  05-visualization_introduction_empty.ipynb
-rwxrwxrwx 1 angelrps angelrps    173167 Jan  8 10:13  10-11_Python_AmadChall_v19.pptx
-rw-rw-rw- 1 angelrps angelrps    172244 Jan 11 13:33  Amadeus_Challenge_Class.ipynb
-rw-rw-rw- 1 angelrps angelrps     94504 Jan 11 09:33  Amadeus_Challenge_Test.ipynb
-rw-rw-rw- 1 angelrps angelrps 554970628 Jan  9 09:44  bookings.csv.bz2
-rw-rw-rw- 1 angelrps angelrps    535893 Jan 11 09:21  bookings.sample.csv.bz2
---------- 1 angelrps angelrps      4634 Jan  8 14:40 'bookings11.csv - copia'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40 'bookings11.csv - copia.bz2'
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40  bookings11.csv.bz2
-rw-rw-rw- 1 angelrps angelrps 483188920 Jan  9 09:44  searches.csv.bz2
-rw-rw-rw- 1 angelrps angelrps       364 Jan  8 13:06  testcsvfile.csv.bz2
-rw-rw-rw- 1 angelrps angelrps     77878 Jan 11 13:33  top_airports.csv
-rwxrwxrwx 1 angelrps angelrps       165 Jan  8 10:19 '~$10-11_Python_AmadChall_v19.pptx'

In [139]:
!head top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^McCarran International Airport
JFK^66270^John F. Kennedy International Airport
CDG^64490^Paris Charles de Gaulle Airport
BKK^59460^Suvarnabhumi Airport
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport

## Ejercicio 5: Web Service

In [140]:
import json

In [141]:
list('abcd')

['a', 'b', 'c', 'd']

In [142]:
json.dumps(list('abcd'))

'["a", "b", "c", "d"]'

In [144]:
myDict={'name':'Hey', 'age':31, 'city':'Madrid'}
myDict

{'name': 'Hey', 'age': 31, 'city': 'Madrid'}

In [145]:
json.dumps(myDict)

'{"name": "Hey", "age": 31, "city": "Madrid"}'

In [146]:
myDict2={'name':['Hey', 'Holi'], 'age':[31, 45], 'city':['Madrid', 'New York']}
myDict2

{'name': ['Hey', 'Holi'], 'age': [31, 45], 'city': ['Madrid', 'New York']}

In [147]:
import pandas as pd

In [148]:
df_from_dict=pd.DataFrame.from_dict(myDict2)

In [149]:
df_from_dict

   name  age      city
0   Hey   31    Madrid
1  Holi   45  New York

In [150]:
df_from_dict.to_json()

'{"name":{"0":"Hey","1":"Holi"},"age":{"0":31,"1":45},"city":{"0":"Madrid","1":"New York"}}'

In [153]:
df_from_dict=pd.DataFrame.from_dict(myDict2, orient='index')

In [154]:
df_from_dict.to_json()

'{"0":{"name":"Hey","age":31,"city":"Madrid"},"1":{"name":"Holi","age":45,"city":"New York"}}'

In [155]:
df_from_dict

           0         1
name     Hey      Holi
age       31        45
city  Madrid  New York

In [156]:
df5=pd.read_csv('./top_airports.csv', sep='^')

In [164]:
df5.head(100).to_json()

'{"arr_port":{"0":"LHR","1":"MCO","2":"LAX","3":"LAS","4":"JFK","5":"CDG","6":"BKK","7":"MIA","8":"SFO","9":"DXB","10":"ORD","11":"FCO","12":"IST","13":"DFW","14":"CUN","15":"MAD","16":"BCN","17":"LGA","18":"ATL","19":"EWR","20":"BOS","21":"DEL","22":"SYD","23":"BOM","24":"MUC","25":"DEN","26":"MNL","27":"HKG","28":"FRA","29":"ORY","30":"SEA","31":"FLL","32":"TXL","33":"AMS","34":"PHX","35":"DCA","36":"MEX","37":"IAH","38":"JED","39":"PVG","40":"YYZ","41":"VIE","42":"LIS","43":"SIN","44":"CAI","45":"HNL","46":"ATH","47":"MEL","48":"SAN","49":"JNB","50":"PEK","51":"BOG","52":"PHL","53":"ARN","54":"TPA","55":"SVO","56":"BRU","57":"ZRH","58":"TLV","59":"LIM","60":"MSP","61":"CPH","62":"BNE","63":"RUH","64":"IAD","65":"ICN","66":"DUS","67":"KUL","68":"DTW","69":"OSL","70":"MXP","71":"CLT","72":"NRT","73":"LED","74":"YVR","75":"CPT","76":"MSY","77":"HAM","78":"PUJ","79":"AKL","80":"MAA","81":"NCE","82":"GVA","83":"TPE","84":"YUL","85":"HKT","86":"LIN","87":"PRG","88":"GRU","89":"PMI","90":"TUN","91":"SJU","92":"DME","93":"BWI","94":"SLC","95":"BLR","96":"PER","97":"DUB","98":"STL","99":"DPS"},"pax":{"0":88809,"1":70930,"2":70530,"3":69630,"4":66270,"5":64490,"6":59460,"7":58150,"8":58000,"9":55590,"10":53200,"11":45120,"12":43850,"13":42420,"14":42000,"15":41410,"16":41200,"17":40712,"18":39780,"19":36890,"20":35840,"21":35680,"22":33690,"23":33440,"24":33180,"25":32630,"26":32400,"27":32020,"28":31970,"29":31800,"30":31530,"31":31170,"32":30590,"33":30580,"34":29730,"35":29000,"36":28120,"37":28090,"38":27090,"39":26630,"40":26070,"41":25750,"42":25050,"43":24874,"44":24640,"45":24140,"46":24100,"47":23830,"48":23720,"49":23710,"50":23680,"51":23090,"52":22210,"53":21800,"54":21530,"55":21292,"56":20940,"57":20190,"58":20190,"59":20150,"60":20030,"61":19740,"62":19480,"63":19440,"64":19170,"65":18560,"66":18250,"67":18200,"68":17800,"69":17000,"70":16950,"71":16862,"72":16570,"73":15960,"74":15920,"75":15840,"76":15820,"77":15640,"78":14960,"79":14940,"80":14940,"81":14880,"82":14720,"83":14450,"84":14040,"85":14040,"86":14020,"87":13990,"88":13850,"89":13840,"90":13830,"91":13730,"92":13600,"93":13590,"94":13530,"95":13490,"96":13300,"97":12900,"98":12760,"99":12740},"AirportName":{"0":"London Heathrow Airport","1":"Orlando International Airport","2":"Los Angeles International Airport","3":"McCarran International Airport","4":"John F. Kennedy International Airport","5":"Paris Charles de Gaulle Airport","6":"Suvarnabhumi Airport","7":"Miami International Airport","8":"San Francisco International Airport","9":"Dubai International Airport","10":"Chicago O\'Hare International Airport","11":"Leonardo da Vinci\\u2013Fiumicino Airport","12":"Istanbul Airport","13":"Dallas\\/Fort Worth International Airport","14":"Canc\\u00fan International Airport","15":"Adolfo Su\\u00e1rez Madrid\\u2013Barajas Airport","16":"Barcelona\\u2013El Prat Airport","17":"La Guardia Airport","18":"Hartsfield-Jackson Atlanta International Airport","19":"Newark Liberty International Airport","20":"Logan International Airport","21":"Indira Gandhi International Airport","22":"Sydney International Airport","23":"Chhatrapati Shivaji Maharaj International Airport","24":"Munich International Airport","25":"Denver International Airport","26":"Ninoy Aquino Manila International Airport","27":"Hong Kong International Airport","28":"Frankfurt Airport","29":"Paris Orly Airport","30":"Seattle-Tacoma International Airport","31":"Fort Lauderdale\\/Hollywood International Airport","32":"Berlin Tegel Airport","33":"Amsterdam Airport Schiphol","34":"Phoenix Sky Harbor International Airport","35":"Ronald Reagan Washington National Airport","36":"Benito Ju\\u00e1rez International Airport","37":"George Bush Intercontinental Airport","38":"Jeddah King Abdul Aziz International Airport","39":"Shanghai Pudong International Airport","40":"Toronto Pearson International Airport","41":"Vienna International Airport","42":"Lisbon Humberto Delgado Airport","43":"Singapore Changi Airport","44":"Cairo International Airport","45":"Daniel K. Inouye International Airport","46":"Athens Eleftherios Venizelos International Airport","47":"Melbourne Airport","48":"San Diego International Airport","49":"O.R. Tambo International Airport","50":"Beijing Capital International Airport","51":"El Dorado International Airport","52":"Philadelphia International Airport","53":"Stockholm Arlanda Airport","54":"Tampa International Airport","55":"Sheremetyevo International Airport","56":"Brussels Airport","57":"Zurich Airport","58":"Ben Gurion Airport","59":"Jorge Ch\\u00e1vez International Airport","60":"Minneapolis-St Paul International Airport","61":"Copenhagen Airport","62":"Brisbane Airport","63":"King Khalid International","64":"Washington Dulles International Airport","65":"Incheon International Airport","66":"D\\u00fcsseldorf International Airport","67":"Kuala Lumpur International Airport","68":"Detroit Metropolitan Wayne County Airport","69":"Oslo Airport, Gardermoen","70":"Milano Malpensa Airport","71":"Charlotte Douglas International Airport","72":"Narita International Airport","73":"Pulkovo Airport","74":"Vancouver International Airport","75":"Cape Town International Airport","76":"Louis Armstrong New Orleans International Airport","77":"Hamburg Airport","78":"Punta Cana International Airport","79":"Auckland International Airport","80":"Chennai International Airport","81":"Nice C\\u00f4te d\'Azur International Airport","82":"A\\u00e9roport Gen\\u00e8ve-Cointrin","83":"Taiwan Taoyuan International Airport","84":"Montr\\u00e9al-Pierre Elliott Trudeau International Airport","85":"Phuket International Airport","86":"Milano Linate Airport","87":"Prague V\\u00e1clav Havel Airport","88":"S\\u00e3o Paulo\\u2013Guarulhos International Airport","89":"Palma de Mallorca Airport","90":"Tunis-Carthage Airport","91":"Luis Mu\\u00f1oz Mar\\u00edn International Airport","92":"Domodedovo International Airport","93":"Baltimore-Washington International Airport","94":"Salt Lake City International Airport","95":"Kempegowda International Airport","96":"Perth Airport","97":"Dublin Airport","98":"Lambert\\u2013St. Louis International Airport","99":"Ngurah Rai International Airport"}}'